.todo-items {
  padding: 0;
}

.list-group-item {
  width: 100%;
  border: none;
  border-bottom: 0.5px solid rgba(0,0,0,0.125);
  display: flex;
  justify-content: space-between;
}

.row {
  margin: 0;
}